<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item_type.name %>
</p>

<p>
  <strong>Output format:</strong>
  <%= @item_type.output_format %>
</p>

<%= link_to 'Edit', edit_item_type_path(@item_type) %> |
<%= link_to 'Back', item_types_path %>
